/* src/components/GameOver.module.css */
.gameOver {
    margin-top: 20px;
  }
  
  .message {
    font-size: 1.5em;
    color: #333;
  }
  
  .game11 {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #6c5ce7;
    border-bottom: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  .game11:hover {
    background-color: darkorange;
    color: blue;
  }
  
  .game2 {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #6c5ce7;
    border-bottom: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  .game2:hover {
    background-color: darkorange;
    color: blue;
  }
  